.header-log {
    margin-top: 70px;
    margin-left: 8%;
    float: left;
}

.header-log h3 {
    float: left;
    padding-left: 20px;
    font-family: ALSSchlangesans, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    cursor: pointer;
}

.label {
    float: left;
    margin-left: 3%;
}

.oval1 {
    position: absolute;
    right: 0;
    opacity: 99;
    width: 597px;
    height: 580px;
    background-color: #2e72f5;
    float: right;
    webkit-clip-path: circle(66% at 86% 31%);
    clip-path: circle(66% at 86% 31%);
}
.oval2 {
    width: 443px;
    height: 179px;
    background-color: rgba(236, 68, 90, 0.1);
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-clip-path: circle(88% at 33% 190%);
    clip-path: circle(88% at 33% 190%)
}
.oval3 {
    width: 92px;
    height: 184px;
    background-color: #ec445a;
    position: absolute;
    right: 0;
    bottom: 0;
    -webkit-clip-path: circle(50% at 100% 50%);
    clip-path: circle(50% at 100% 50%);
}

.oval4 {
    position: absolute;
    width: 528px;
    height: 222px;
    right: 15%;
    background-color: #f7ce46;
    -webkit-clip-path: circle(55% at 50% -42%);
    clip-path: circle(55% at 50% -42%);
}

.doctors a {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    line-height: 55px;
    color: #2e72f5;
    width: 221px;
    height: 55px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
}

.doctors .col-md-3 {
    margin-bottom: 55px;
    cursor: pointer;
}

.header-log img {
    width: 50px;
    cursor: pointer;
}

.header-log div {
    float: left;
}

.content {
    height: 666px;
    position: relative;
}

.content h1 {
    margin-top: 130px;
    width: 626px;
    font-family: Roboto-Bold, sans-serif;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}

.content h5 {
    margin-bottom: 25px;
    margin-top: 15px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.content a {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 50px;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    float: left;
    width: 241px;
    height: 50px;
    border-radius: 5px;
    background-color: #4b86f7;
}

.slider-list {
    margin-top: 100px;
}

.slider-list img {
    height: 70px;
    margin-top: 40px;
}

.slider-list .col-md-2 {
    text-align: center;
    width: 160px;
    height: 220px;
    border-radius: 4px;
    background-color: rgba(75, 134, 247, 0.05);
    margin-right: 36px;
}

.slider-list .col-md-2:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(174, 193, 196, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(174, 193, 196, 1);
    box-shadow: 0px 0px 25px 0px rgba(174, 193, 196, 1);
}

.slider-list .col-md-2:nth-child(6n) {
    margin-right: 0;
}

.slider-list h5 {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-top: 40px;
    color: #000000;
    cursor: default;
}

.principles {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

.principles h3 {
    font-size: 40px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin: 100px auto 50px auto;
}

.principles img {
    margin-top: 25px;
    margin-bottom: 15px;
}

.principles h5 {
    width: 152px;
    height: 42px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.87);
}

.principles .col-md-4 {
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    height: 150px;
    margin-bottom: 105px;
}

.principles .col-md-4:last-child {
    border-right: none;
}

.doc-description {
    background-color: #ffffff;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.doc-description h4 {
    margin-left: 15px;
    margin-top: 15px;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
}

.doc-description h5 {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

@media (min-width: 768px) {
    .slider-list .col-md-2 {
        flex: 0 0 14%;
    }
}

@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 260px;
        margin-right: 25px;
    }
}

@media (min-width: 1495px) {

}

.doctors .col-md-3:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(174, 193, 196, 1);
    -moz-box-shadow: 0px 0px 25px 0px rgba(174, 193, 196, 1);
    box-shadow: 0px 0px 25px 0px rgba(174, 193, 196, 1);
}

