.content {
    width: 80%;
    margin: 75px auto auto auto;
}

.content .questioning-block {
    height: 320px;
    margin-bottom: 60px;
}

.content .questioning-picture {
    width: 40%;
    float: left;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(218, 229, 240, 1);
    -moz-box-shadow: 0px 0px 17px 0px rgba(218, 229, 240, 1);
    box-shadow: 0px 0px 17px 0px rgba(218, 229, 240, 1);
}

.content .questioning-picture img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.content .description {
    float: right;
    width: 52%;
    margin-top: 45px;
}

.content h3 {
    font-family: Roboto-Bold, sans-serif;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    float: left;
}

.content h6 {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 25px;
    float: left;
    width: 450px;
}

.content a {
    width: 227px;
    height: 50px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.87);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 50px;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 40px;
    float: left;
    cursor: pointer;
}

.test {
    width: 80%;
    margin: 70px auto auto auto;
}

.test h3 {
    font-family: Roboto-Bold, sans-serif;
    font-size: 26px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 50px;
}

.test h5 {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 30px;
}

.test label {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 20px;
}

.test button {
    width: 160px;
    height: 50px;
    margin-top: 20px;
}

